input[type=text], input[type=password] {
    display: block;
    width: 90%; 
    border: 1px solid #818181;
    padding: 5px;
    margin: auto;
}

#username, #password {
	margin: auto;
}

footer {
	color: white;
	height: 50px;
	background-color: #818181;
	
}

body{
	background-color: black;
	color:white;
}
h1{
	text-align: center;
	color:white;
}