input[type=text], input[type=password] {
    display: block;
    width: 90%; 
    border: 1px solid #818181;
    padding: 5px;
    margin: auto;
}

img{
	margin: auto;
	width: 80%;
}

#myNav{
	position:fixed;
	width: 100%;
	z-index: 10000;
	
}

#username, #password {
	margin: auto;
}


body{
	background-color: black;
	color:white;
}
h1{
	text-align: center;
	color:white;
}
.jumbotron {
	color: black;
}
.display-4 {
	color: black;
}

.carousel-caption {
	 text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}