input[type=text], input[type=password] {
    display: block;
    width: 90%; 
    border: 1px solid #818181;
    padding: 5px;
    margin: auto;
}

#username, #password {
	margin: auto;
}


body{
	background-color: black;
	color:white;
}
h1{
	text-align: center;
	color:white;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:  #818181;
}
.jumbotron {
	color: black;
}
.display-4 {
	color: black;
}